body {
	background-color: #333e4a;
}

label {
	color: white;
}

h1 {
	color: #8743cc;
}

span {
	color: #8743cc;
	font-size: 2em;
}

p{
	color: #8743cc;
}

.button {
	background-color: white;
  	border: 2px solid #8743cc;
  	color: #8743cc;
  	padding: 16px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}

.button:hover {
  	background-color: #8743cc;
  	color: white;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	width: 40%;
  	border-radius: 5px;
  	margin: 20px;
}

.card-small {
	height: 150px;
	width: 300px;
}

.container {
  padding: 2px 16px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 100%;
  	flex-wrap: wrap;
}

.box-center {
	flex-direction: column;
	justify-content: flex-start;
}

.icon {
    height: 30px;
    width: 30px;
    display: block;
    margin: 5px;
    filter: invert(28%) sepia(44%) saturate(2832%) hue-rotate(252deg) brightness(96%) contrast(88%);
}

.mini-icon {
    height: 15px;
    width: 15px;
    display: block;
    margin: 5px;
    filter: invert(28%) sepia(44%) saturate(2832%) hue-rotate(252deg) brightness(96%) contrast(88%);
}

input:focus{
	outline: none !important;
    border-color: #8743cc;
}

input{
	background: transparent;
    border: none;
    borderonclickom: 1px solid #000000;
    color: #8743cc;
}

input:invalid{
	border-bottom: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333e4a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #8743cc;
  right: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active .dropdown-content {
  display: block;
}

@media (hover: none){
	.mini-icon {
		display: none;
	}

	.dropdown {
		display: none;
	}
}